#photos.tab-pane.fade(role='tabpanel')
            .card
              .card-body
                h2 Photos
                .friend-list-tab.mt-2
                  ul.nav.nav-pills.d-flex.align-items-center.justify-content-left.friend-list-items.p-0.mb-2
                    li
                      a.nav-link.active(data-bs-toggle='pill' href='#pill-photosofyou' data-bs-target='#photosofyou') Photos of You
                    li
                      a.nav-link(data-bs-toggle='pill' href='#pill-your-photos' data-bs-target='#your-photos') Your Photos
                  .tab-content
                    #photosofyou.tab-pane.fade.active.show(role='tabpanel')
                      .card-body.p-0
                        .d-grid.gap-2.d-grid-template-1fr-13
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/../assets/images/page-img/51.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/52.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/53.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/54.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/55.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/56.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/57.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/58.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/59.jpg' alt='image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/60.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/61.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/62.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/63.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/64.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/65.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/51.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/52.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/53.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/54.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/55.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/56.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/57.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/58.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/59.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                    #your-photos.tab-pane.fade(role='tabpanel')
                      .card-body.p-0
                        .d-grid.gap-2.d-grid-template-1fr-13
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/51.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/52.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/53.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/54.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/55.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/56.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/57.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/58.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/59.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill
                          div
                            .user-images.position-relative.overflow-hidden
                              a(href='#')
                                img.img-fluid.rounded(src='../assets/images/page-img/60.jpg' alt='Responsive image')
                              .image-hover-data
                                .product-elements-icon
                                  ul.d-flex.align-items-center.m-0.p-0.list-inline
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 60 
                                        i.ri-thumb-up-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 30 
                                        i.ri-chat-3-line
                                    li
                                      a.pe-3.text-white(href='#')
                                        | 10 
                                        i.ri-share-forward-line
                              a.image-edit-btn(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='' data-bs-original-title='Edit or Remove')
                                i.ri-edit-2-fill