#friends.tab-pane.fade(role='tabpanel')
            .card
              .card-body
                h2 Friends
                .friend-list-tab.mt-2
                  ul.nav.nav-pills.d-flex.align-items-center.justify-content-left.friend-list-items.p-0.mb-2
                    li
                      a.nav-link.active(data-bs-toggle='pill' href='#pill-all-friends' data-bs-target='#all-friends') All Friends
                    li
                      a.nav-link(data-bs-toggle='pill' href='#pill-recently-add' data-bs-target='#recently-add') Recently Added
                    li
                      a.nav-link(data-bs-toggle='pill' href='#pill-closefriends' data-bs-target='#closefriends')  Close friends
                    li
                      a.nav-link(data-bs-toggle='pill' href='#pill-home' data-bs-target='#home-town')  Home/Town
                    li
                      a.nav-link(data-bs-toggle='pill' href='#pill-following' data-bs-target='#following') Following
                  .tab-content
                    #all-friends.tab-pane.fade.active.show(role='tabpanel')
                      .card-body.p-0
                        .row
                          if(friends.length > 0)
                            .col-md-6.col-lg-6.mb-3
                              .iq-friendlist-block
                                .d-flex.align-items-center.justify-content-between
                                  .d-flex.align-items-center
                                    a(href=`/${friends[0].sender.id}`)
                                      img.img-fluid.avatar-130(src=`../img/users/${friends[0].sender.avatar}` alt='profile-img')
                                    .friend-info.ms-3
                                      h5= friends[0].sender.username
                                      p.mb-0 15  friends
                                  .card-header-toolbar.d-flex.align-items-center
                                    .dropdown
                                      span#dropdownMenuButton01.dropdown-toggle.btn.btn-secondary.me-2(data-bs-toggle='dropdown' aria-expanded='true' role='button')
                                        i.ri-check-line.me-1.text-white
                                        |  Friend
                                      .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton01')
                                        a.dropdown-item(href='#') Get Notification
                                        a.dropdown-item(href='#') Close Friend
                                        a.dropdown-item(href='#') Unfollow
                                        a.dropdown-item(href='#') Unfriend
                                        a.dropdown-item(href='#') Block
                          