#about.tab-pane.fade(role='tabpanel')
            .card
              .card-body
                .row
                  .col-md-3
                    ul.nav.nav-pills.basic-info-items.list-inline.d-block.p-0.m-0
                      li
                        a.nav-link.active(href='#v-pills-basicinfo-tab' data-bs-toggle='pill' data-bs-target='#v-pills-basicinfo-tab' role='button') Contact and Basic Info
                      li
                        a.nav-link(href='#v-pills-family-tab' data-bs-toggle='pill' data-bs-target='#v-pills-family' role='button') Family and Relationship
                      li
                        a.nav-link(href='#v-pills-work-tab' data-bs-toggle='pill' data-bs-target='#v-pills-work-tab' role='button') Work and Education
                      li
                        a.nav-link(href='#v-pills-lived-tab' data-bs-toggle='pill' data-bs-target='#v-pills-lived-tab' role='button') Places You&apos;ve Lived
                      li
                        a.nav-link(href='#v-pills-details-tab' data-bs-toggle='pill' data-bs-target='#v-pills-details-tab' role='button') Details About You
                  .col-md-9.ps-4
                    .tab-content
                      #v-pills-basicinfo-tab.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='v-pills-basicinfo-tab')
                        h4 Contact Information
                        hr
                        .row
                          .col-3
                            h6 Email
                          .col-9
                            p.mb-0 Bnijohn@gmail.com
                          .col-3
                            h6 Mobile
                          .col-9
                            p.mb-0 (001) 4544 565 456
                          .col-3
                            h6 Address
                          .col-9
                            p.mb-0 United States of America
                        h4.mt-3 Websites and Social Links
                        hr
                        .row
                          .col-3
                            h6 Website
                          .col-9
                            p.mb-0 www.bootstrap.com
                          .col-3
                            h6 Social Link
                          .col-9
                            p.mb-0 www.bootstrap.com
                        h4.mt-3 Basic Information
                        hr
                        .row
                          .col-3
                            h6 Birth Date
                          .col-9
                            p.mb-0 24 January
                          .col-3
                            h6 Birth Year
                          .col-9
                            p.mb-0 1994
                          .col-3
                            h6 Gender
                          .col-9
                            p.mb-0 Female
                          .col-3
                            h6 interested in
                          .col-9
                            p.mb-0 Designing
                          .col-3
                            h6 language
                          .col-9
                            p.mb-0 English, French
                      #v-pills-family.tab-pane.fade(role='tabpanel')
                        h4.mb-3 Relationship
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .media-support-info.ms-3
                              h6 Add Your Relationship Status
                        h4.mt-3.mb-3 Family Members
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .media-support-info.ms-3
                              h6 Add Family Members
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/01.jpg' alt='story-img')
                            .w-100
                              .d-flex.justify-content-between
                                .ms-3
                                  h6 Paul Molive
                                  p.mb-0 Brothe
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                          li.d-flex.justify-content-between.mb-4.align-items-center
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/02.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 Anna Mull
                                  p.mb-0 Sister
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/03.jpg' alt='story-img')
                            .w-100
                              .d-flex.justify-content-between
                                .ms-3
                                  h6 Paige Turner
                                  p.mb-0 Cousin
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                      #v-pills-work-tab.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-work-tab')
                        h4.mb-3 Work
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.justify-content-between.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .ms-3
                              h6 Add Work Place
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/01.jpg' alt='story-img')
                            .w-100
                              .d-flex.justify-content-between
                                .ms-3
                                  h6 Themeforest
                                  p.mb-0 Web Designer
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/02.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 iqonicdesign
                                  p.mb-0 Web Developer
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/03.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 W3school
                                  p.mb-0 Designer
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                        h4.mb-3 Professional Skills
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .ms-3
                              h6 Add Professional Skills
                        h4.mt-3.mb-3 College
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .ms-3
                              h6 Add College
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/01.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 Lorem ipsum
                                  p.mb-0 USA
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                      #v-pills-lived-tab.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-lived-tab')
                        h4.mb-3 Current City and Hometown
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/01.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 Georgia
                                  p.mb-0 Georgia State
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                          li.d-flex.mb-4.align-items-center.justify-content-between
                            .user-img.img-fluid
                              img.rounded-circle.avatar-40(src='../assets/images/user/02.jpg' alt='story-img')
                            .w-100
                              .d-flex.flex-wrap.justify-content-between
                                .ms-3
                                  h6 Atlanta
                                  p.mb-0 Atlanta City
                                .edit-relation
                                  a(href='#')
                                    i.ri-edit-line.me-2
                                    | Edit
                        h4.mt-3.mb-3 Other Places Lived
                        ul.suggestions-lists.m-0.p-0
                          li.d-flex.mb-4.align-items-center
                            .user-img.img-fluid
                              i.ri-add-fill
                            .ms-3
                              h6 Add Place
                      #v-pills-details-tab.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-details-tab')
                        h4.mb-3 About You
                        p Hi, I&rsquo;m Bni, I&rsquo;m 26 and I work as a Web Designer for the iqonicdesign.
                        h4.mt-3.mb-3 Other Name
                        p Bini Rock
                        h4.mt-3.mb-3 Favorite Quotes
                        p
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s