extend ../base2

block content
  section.sign-in-page
    #container-inside
      #circle-small
      #circle-medium
      #circle-large
      #circle-xlarge
      #circle-xxlarge
    .container.p-0
      .row.no-gutters
        .col-md-6.text-center.pt-5
          .sign-in-detail.text-white
            a.sign-in-logo.mb-5(href='#')
              img.img-fluid(src='../assets/images/logo-full.png' alt='logo')
            .sign-slider.overflow-hidden
              ul.swiper-wrapper.list-inline.m-0.p-0
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/1.png' alt='logo')
                  h4.mb-1.text-white Find new friends
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/2.png' alt='logo')
                  h4.mb-1.text-white Connect with the world
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/3.png' alt='logo')
                  h4.mb-1.text-white Create new events
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
        .col-md-6.bg-white.pt-5.pt-5.pb-lg-0.pb-5
          .log-in-from
            h1.mb-0 Log in
            p Enter your email address and password to access admin panel.
            form.mt-4.login-form
              .form-group
                label.form-label(for='exampleInputEmail1') Email address
                input.form-control.mb-0(type='email' placeholder='Enter email' name='email')
              .form-group
                label.form-label(for='exampleInputPassword1') Password
                a.float-end(href='#') Forgot password?
                input.form-control.mb-0(type='password' placeholder='Password' name='password')
              .d-inline-block.w-100
                .form-check.d-inline-block.mt-2.pt-1
                  input#customCheck11.form-check-input(type='checkbox')
                  label.form-check-label(for='customCheck11') Remember Me
                button.buttonLoad.btnSubmit.btn.btn-primary.float-end(type='submit') Log in
              .sign-info
                span.dark-color.d-inline-block.line-height-2
                  | Don&apos;t have an account? 
                  a(href='/sign-up') Sign up
                ul.iq-social-media
                  li
                    a(href='#')
                      i.ri-facebook-box-line
                  li
                    a(href='#')
                      i.ri-twitter-line
                  li
                    a(href='#')
                      i.ri-instagram-line
