extend ../base2 

block content
  section.sign-in-page
    #container-inside
      #circle-small
      #circle-medium
      #circle-large
      #circle-xlarge
      #circle-xxlarge
    .container.p-0
      .row.no-gutters
        .col-md-6.text-center.pt-5
          .sign-in-detail.text-white
            a.sign-in-logo.mb-5(href='#')
              img.img-fluid(src='../assets/images/logo-full.png' alt='logo')
            .sign-slider.overflow-hidden
              ul.swiper-wrapper.list-inline.m-0.p-0
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/1.png' alt='logo')
                  h4.mb-1.text-white Find new friends
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/2.png' alt='logo')
                  h4.mb-1.text-white Connect with the world
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/3.png' alt='logo')
                  h4.mb-1.text-white Create new events
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
        .col-md-6.bg-white.pt-5.pt-5.pb-lg-0.pb-5
          .sign-in-from
            h1.mb-0 Reset Password
            p Enter your email address and we'll send you an email with instructions to reset your password.
            form.reset-form
              .form-group
                label.form-label(for='') Token
                input.form-control.mb-0(type='txt' name="token" placeholder='')
              .form-group
                label.form-label(for='') Password
                input.form-control.mb-0(type='password' name="password" placeholder='')
              .form-group
                label.form-label(for='') Password Confirm
                input.form-control.mb-0(type='password' name="passwordConfirm" placeholder='')
              button.btnSubmit.btn.btn-primary.float-end(type='submit' ) Submit
              
