extend ../base2 

block content
  section.sign-in-page
    #container-inside
      #circle-small
      #circle-medium
      #circle-large
      #circle-xlarge
      #circle-xxlarge
    .container.p-0
      .row.no-gutters
        .col-md-6.text-center.pt-5
          .sign-in-detail.text-white
            a.sign-in-logo.mb-5(href='#')
              img.img-fluid(src='../assets/images/logo-full.png' alt='logo')
            .sign-slider.overflow-hidden
              ul.swiper-wrapper.list-inline.m-0.p-0
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/1.png' alt='logo')
                  h4.mb-1.text-white Find new friends
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/2.png' alt='logo')
                  h4.mb-1.text-white Connect with the world
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
                li.swiper-slide
                  img.img-fluid.mb-4(src='../assets/images/login/3.png' alt='logo')
                  h4.mb-1.text-white Create new events
                  p
                    | It is a long established fact that a reader will be distracted by the
                    | readable content.
        .col-md-6.bg-white.pt-5.pt-5.pb-lg-0.pb-5
          .sign-in-from
            h1.mb-0 Sign Up
            p Enter your email address and password to access admin panel.
            form.sign-up-form
              .form-group
                label.form-label(for='') Email address
                input#email.form-control.mb-0(type='email' name="email" placeholder='Enter email')
              .row 
                .col-md-6 
                  .form-group
                    label.form-label(for='') Your First Name
                    input#firstName.form-control.mb-0(type='text' name="firstName")
                  .form-group
                    label.form-label(for='') Password
                    input#password.form-control.mb-0(type='password' name="password" )
                .col-md-6 
                  .form-group
                    label.form-label(for='') Your Last Name
                    input#lastName.form-control.mb-0(type='text' name="lastName")
                  .form-group
                    label.form-label(for='') Password Confirm
                    input#passwordConfirm.form-control.mb-0(type='password' name="passwordConfirm" )
              .d-inline-block.w-100
                .form-check.d-inline-block.mt-2.pt-1
                  input#customCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='customCheck1')
                    | I accept 
                    a(href='#')
                      | Terms
                      | and Conditions
                button.btnSubmit.btn.btn-primary.float-end(type='submit' ) Sign Up
              .sign-info
                span.dark-color.d-inline-block.line-height-2
                  | Already Have Account ? 
                  a(href='/login') Log In
                ul.iq-social-media
                  li
                    a(href='#')
                      i.ri-facebook-box-line
                  li
                    a(href='#')
                      i.ri-twitter-line
                  li
                    a(href='#')
                      i.ri-instagram-line
