.right-sidebar-mini.right-sidebar
  .right-sidebar-panel.p-0
    .card.shadow-none
      .card-body.p-0
        .media-height.p-3(data-scrollbar='init')
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/01.jpg' alt='')
            .ms-3
              h6.mb-0 Anna Sthesia
              p.mb-0 Just Now
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/02.jpg' alt='')
            .ms-3
              h6.mb-0 Paul Molive
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/03.jpg' alt='')
            .ms-3
              h6.mb-0 Anna Mull
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/04.jpg' alt='')
            .ms-3
              h6.mb-0 Paige Turner
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/11.jpg' alt='')
            .ms-3
              h6.mb-0 Bob Frapples
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/02.jpg' alt='')
            .ms-3
              h6.mb-0 Barb Ackue
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-online
              img.rounded-circle.avatar-50(src='./assets/images/user/03.jpg' alt='')
            .ms-3
              h6.mb-0 Greta Life
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-away
              img.rounded-circle.avatar-50(src='./assets/images/user/12.jpg' alt='')
            .ms-3
              h6.mb-0 Ira Membrit
              p.mb-0 Admin
          .d-flex.align-items-center.mb-4
            .iq-profile-avatar.status-away
              img.rounded-circle.avatar-50(src='./assets/images/user/01.jpg' alt='')
            .ms-3
              h6.mb-0 Pete Sariya
              p.mb-0 Admin
          .d-flex.align-items-center
            .iq-profile-avatar
              img.rounded-circle.avatar-50(src='./assets/images/user/02.jpg' alt='')
            .ms-3
              h6.mb-0 Monty Carlo
              p.mb-0 Admin
        .right-sidebar-toggle.bg-primary.text-white.mt-3
          i.ri-arrow-left-line.side-left-icon
          i.ri-arrow-right-line.side-right-icon
            span.ms-3.d-inline-block Close Menu