#right-sidebar.right-sidebar-mini.right-sidebar
  .right-sidebar-panel.p-0
    .card.shadow-none
      .card-body.p-0
        if(user)
          #list-online.media-height.p-3(data-scrollbar='init')
          .right-sidebar-toggle.bg-primary.text-white.mt-3
            i.ri-arrow-left-line.side-left-icon
            i.ri-arrow-right-line.side-right-icon
              span.ms-3.d-inline-block Close Menu