extend base

block content 
  #content-page.content-page
    #message-page.container
      .row
        .col-sm-12
          .card
            .card-body.chat-page.p-0
              .chat-data-block
                .row
                  .col-lg-3.chat-data-left.scroller
                    .chat-search.pt-3.ps-3
                      .d-flex.align-items-center
                        .chat-profile.me-3
                          img.avatar-60(src=`../img/users/${user.avatar}` alt='chat-user')
                        .chat-caption
                          h5.mb-0= user.username
                          p.m-0 Web Designer
                        button.close-btn-res.p-3(type='submit')
                          i.ri-close-fill
                      #user-detail-popup.scroller
                        .user-profile
                          button.close-popup.p-3(type='submit')
                            i.ri-close-fill
                          .user.text-center.mb-4
                            a.m-0
                              img.avatar-130.img-fluid(src=`../img/users/${user.avatar}` alt='avatar')
                            .user-name.mt-4
                              h4.text-center= user.username
                            .user-desc
                              p.text-center Web Designer
                          hr
                          .user-detail.text-left.mt-4.ps-4.pe-4
                            h5.mt-4.mb-4 About
                            p
                              | It is long established fact that a reader will be distracted bt the
                              | reddable.
                            h5.mt-3.mb-3 Status
                            ul.user-status.p-0
                              li.mb-1
                                i.ri-checkbox-blank-circle-fill.text-success.pe-1
                                span Online
                              li.mb-1
                                i.ri-checkbox-blank-circle-fill.text-warning.pe-1
                                span Away
                              li.mb-1
                                i.ri-checkbox-blank-circle-fill.text-danger.pe-1
                                span Offline
                      .chat-searchbar.mt-4
                        .form-group.chat-search-data.m-0
                          input#chat-search.form-control.round(type='text' placeholder='Search')
                          i.ri-search-line
                    .chat-sidebar-channel.scroller.mt-4.ps-3
                      h5 Conversations
                      ul#conversations.iq-chat-ui.nav.flex-column.nav-pills
                        
                  .col-lg-9.chat-data.p-0.chat-data-right
                    #chat.tab-content
                      #default-block.tab-pane.fade.active.show(role='tabpanel')
                        .chat-start
                          span.iq-start-icon.text-primary
                            i.ri-message-3-line
                          button#chat-start.btn.bg-white.mt-3
                            | Start
                            | Conversation!
                      .tab-pane.fade(role='tabpanel')
                        .chat-head
                          header.d-flex.justify-content-between.align-items-center.bg-white.pt-3.pe-3.pb-3
                            .d-flex.align-items-center
                              .sidebar-toggle
                                i.ri-menu-3-line
                              .avatar.chat-user-profile.m-0.me-3
                                img.avatar-50(src='../assets/images/user/05.jpg' alt='avatar')
                                span.avatar-status
                                  i.ri-checkbox-blank-circle-fill.text-success
                              h5.mb-0 Team Discussions
                            .chat-header-icons.d-flex
                              a.chat-icon-phone.bg-soft-primary(href='#')
                                i.ri-phone-line
                              a.chat-icon-video.bg-soft-primary(href='#')
                                i.ri-vidicon-line
                              a.chat-icon-delete.bg-soft-primary(href='#')
                                i.ri-delete-bin-line
                              span.dropdown.bg-soft-primary
                                i#dropdownMenuButton02.ri-more-2-line.cursor-pointer.dropdown-toggle.nav-hide-arrow.cursor-pointer.pe-0(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='menu')
                                span.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton02')
                                  a.dropdown-item(href='#')
                                    i.ri-pushpin-2-line.me-1.h5
                                    | Pin to top
                                  a.dropdown-item(href='#')
                                    i.ri-delete-bin-6-line.me-1.h5
                                    | Delete chat
                                  a.dropdown-item(href='#')
                                    i.ri-time-line.me-1.h5
                                    | Block
                        .chat-content.scroller
                          .chat.d-flex.other-user
                            .chat-user
                              a.avatar.m-0
                                img.avatar-35(src='../assets/images/user/1.jpg' alt='avatar')
                              span.chat-time.mt-1 6:45
                            .chat-detail
                              .chat-message
                                p How can we help? We&apos;re here for you! &#x1F604;
                          .chat.chat-left
                            .chat-user
                              a.avatar.m-0
                                img.avatar-35(src='../assets/images/user/05.jpg' alt='avatar')
                              span.chat-time.mt-1 6:48
                            .chat-detail
                              .chat-message
                                p Hey John, I am looking for the best admin template.
                                p Could you please help me to find it out? &#x1F914;
                        .chat-footer.p-3.bg-white
                          form.d-flex.align-items-center(action='#')
                            .chat-attagement.d-flex
                              a(href='#')
                                i.far.fa-smile.pe-3(aria-hidden='true')
                              a(href='#')
                                i.fa.fa-paperclip.pe-3(aria-hidden='true')
                            input.form-control.me-3(type='text' placeholder='Type your message')
                            button.btn.btn-primary.d-flex.align-items-center.px-2(type='submit')
                              i.far.fa-paper-plane(aria-hidden='true')
                              span.d-none.d-lg-block.ms-1 Send
                      