extends base2

block content
  .wrapper
  .container.p-0
    .row.no-gutters.height-self-center
      .col-sm-12.text-center.align-self-center
        .iq-error.position-relative.mt-5
          h2.mb-0.text-center Oops! #{msg}
          p.text-center
          a.btn.btn-primary.mt-3(href='/')
            i.ri-home-4-line
            | Back to Home
