extend base

block content 
  #content-page.content-page
    .container
      .row
        .col-sm-12
          .card
            .card-header.d-flex.justify-content-between
              .header-title
                h4.card-title Friend Request
            .card-body
              ul.request-list.list-inline.m-0.p-0
                li.d-flex.align-items-center.justify-content-between.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/05.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Jaques Amole
                    p.mb-0 40 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    .confirm-click-btn
                      a.me-3.btn.btn-primary.rounded.confirm-btn(href='#') Confirm
                      a.me-3.btn.btn-primary.rounded.request-btn(href='../app/profile.html' style='display: none;') View All
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.justify-content-between.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/06.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Lucy Tania
                    p.mb-0 12 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    .confirm-click-btn
                      a.me-3.btn.btn-primary.rounded.confirm-btn(href='#') Confirm
                      a.me-3.btn.btn-primary.rounded.request-btn(href='../app/profile.html' style='display: none;') View All
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/07.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Val Adictorian
                    p.mb-0 0 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    .confirm-click-btn
                      a.me-3.btn.btn-primary.rounded.confirm-btn(href='#') Confirm
                      a.me-3.btn.btn-primary.rounded.request-btn(href='../app/profile.html' style='display: none;') View All
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/08.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Manny Petty
                    p.mb-0 3 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/09.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Marsha Mello
                    p.mb-0 15 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/10.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Caire Innet
                    p.mb-0 8 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/11.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Gio Metric
                    p.mb-0 10 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/12.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Chris P. Cream
                    p.mb-0 18 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/13.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Paul Misunday
                    p.mb-0 6 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/14.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Reanne Carnation
                    p.mb-0 12 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#') Confirm
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Delete Request
                li.d-block.text-center.mb-0.pb-0
                  a.me-3.btn(href='#') View More Request
          .card
            .card-header.d-flex.justify-content-between
              .header-title
                h4.card-title People You May Know
            .card-body
              ul.request-list.m-0.p-0
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/15.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Jen Youfelct
                    p.mb-0 4 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/16.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Cooke Edoh
                    p.mb-0 20 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/17.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Earl E. Riser
                    p.mb-0 30 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/05.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Cliff Diver
                    p.mb-0 5 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/06.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Cliff Diver
                    p.mb-0 5 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/07.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Vinny Gret
                    p.mb-0 50 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/08.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Paul Samic
                    p.mb-0 6 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/09.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Gustav Wind
                    p.mb-0 14 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/10.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Minnie Strone
                    p.mb-0 16 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/11.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Ray Volver
                    p.mb-0 9 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/12.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Indy Nile
                    p.mb-0 6 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
                li.d-flex.align-items-center.mb-0.pb-0.flex-wrap
                  .user-img.img-fluid.flex-shrink-0
                    img.rounded-circle.avatar-40(src='../assets/images/user/13.jpg' alt='story-img')
                  .flex-grow-1.ms-3
                    h6 Jen Trification
                    p.mb-0 42 friends
                  .d-flex.align-items-center.mt-2.mt-md-0
                    a.me-3.btn.btn-primary.rounded(href='#')
                      i.ri-user-add-line.me-1
                      | Add Friend
                    a.btn.btn-secondary.rounded(href='#' data-extra-toggle='delete' data-closest-elem='.item') Remove
