extend base 

block content 
  #content-page.content-page
    .container
      .d-grid.gap-3.d-grid-template-1fr-19
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg1.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-1.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Designer
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 600
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 320
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 1.2k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg2.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-2.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') R &amp; D
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 300
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 210
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 1.1k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg3.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-3.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Graphics
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 320
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 100
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 1.0k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg4.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-4.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Developer
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 800
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 480
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 2.2k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg5.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-5.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Tester
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 200
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 100
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 32
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card.mb-0
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg6.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-6.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Events
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 1000
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 500
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 3.2k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg7.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-7.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Coder
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 300
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 220
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 25k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg9.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-8.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Themes
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 1200
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 800
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 3.2k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
        .card
          .top-bg-image
            img.img-fluid.w-100(src='../assets/images/page-img/profile-bg1.jpg' alt='group-bg')
          .card-body.text-center
            .group-icon
              img.rounded-circle.img-fluid.avatar-120(src='../assets/images/page-img/gi-9.jpg' alt='profile-img')
            .group-info.pt-3.pb-3
              h4
                a(href='../app/group-detail.html') Review
              p Lorem Ipsum data
            .group-details.d-inline-block.pb-3
              ul.d-flex.align-items-center.justify-content-between.list-inline.m-0.p-0
                li.pe-3.ps-3
                  p.mb-0 Post
                  h6 300
                li.pe-3.ps-3
                  p.mb-0 Member
                  h6 1000
                li.pe-3.ps-3
                  p.mb-0 Visit
                  h6 4.5k
            .group-member.mb-3
              .iq-media-group
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/05.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/06.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/07.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/08.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/09.jpg' alt='')
                a.iq-media(href='#')
                  img.img-fluid.avatar-40.rounded-circle(src='../assets/images/user/10.jpg' alt='')
            button.btn.btn-primary.d-block.w-100(type='submit') Join
