extend base 

block content 
  .container
    .row
      .col-sm-12
        h4.card-title Notification
      .col-sm-12
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/01.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Paige Turner Posted in UI/UX Community
                      p.mb-0 30  ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-primary.rounded(href='javascript:void();')
                        i.ri-award-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/02.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Anne Fibbiyon Like Your Post
                      p.mb-0 15  ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-danger.rounded(href='javascript:void();')
                        i.ri-heart-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/03.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Barry Cuda add Story
                      p.mb-0 40  ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-primary.rounded(href='javascript:void();')
                        i.ri-award-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/04.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Cliff Hanger posted a comment on your status update
                      p.mb-0 42  ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-success.rounded(href='javascript:void();')
                        i.ri-chat-4-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/4.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Rick O&apos;Shea posted a comment on your photo
                      p.mb-0 50  ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-success.rounded(href='javascript:void();')
                        i.ri-chat-4-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/05.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Brock Lee Sent a Friend Request
                      p.mb-0 1 hour ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-warning.rounded(href='javascript:void();')
                        i.ri-reply-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/06.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Ira Membrit shared your status update
                      p.mb-0 1 hour ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-info.rounded(href='javascript:void();')
                        i.ri-share-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/11.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Paul Molive and 3 ther have Birthday Today
                      p.mb-0 3 houe ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-danger.rounded(href='javascript:void();')
                        i.las.la-birthday-cake
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/07.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Petey Cruiser Sent a Friend request
                      p.mb-0 1 day ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-warning.rounded(href='javascript:void();')
                        i.ri-reply-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/08.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Bob Frapples and 45 other Like Your Pst on timeline
                      p.mb-0 1 week ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-danger.rounded(href='javascript:void();')
                        i.ri-heart-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/12.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Maya Didas share Your Post
                      p.mb-0 1 month ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-info.rounded(href='javascript:void();')
                        i.ri-share-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/09.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Sal Monella Add Photo with You
                      p.mb-0 1 month ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-primary.rounded(href='javascript:void();')
                        i.ri-award-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/10.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Barb Dwyer commented on your new profile status
                      p.mb-0 2 month ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-success.rounded(href='javascript:void();')
                        i.ri-chat-4-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/13.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .info.ms-3
                      h6 Terry Aki commented on your new profile status
                      p.mb-0 2 month ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-success.rounded(href='javascript:void();')
                        i.ri-chat-4-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
        .card
          .card-body
            ul.notification-list.m-0.p-0
              li.d-flex.align-items-center.justify-content-between
                .user-img.img-fluid
                  img.rounded-circle.avatar-40(src='../assets/images/user/14.jpg' alt='story-img')
                .w-100
                  .d-flex.justify-content-between
                    .ms-3
                      h6 Paige Turner Posted in Development Community
                      p.mb-0 3 month ago
                    .d-flex.align-items-center
                      a.me-3.iq-notify.bg-soft-primary.rounded(href='javascript:void();')
                        i.ri-award-line
                      .card-header-toolbar.d-flex.align-items-center
                        .dropdown
                          span.dropdown-toggle(data-bs-toggle='dropdown')
                            i.ri-more-fill.h4
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#')
                              i.ri-eye-fill.me-2
                              | View
                            a.dropdown-item(href='#')
                              i.ri-delete-bin-6-fill.me-2
                              | Delete
                            a.dropdown-item(href='#')
                              i.ri-pencil-fill.me-2
                              | Edit
                            a.dropdown-item(href='#')
                              i.ri-printer-fill.me-2
                              | Print
                            a.dropdown-item(href='#')
                              i.ri-file-download-fill.me-2
                              | Download
